<h3>Hello {{name}}</h3>
<button (click)=RaiseNameEvent(name)>Alert Name</button>
<hr/>
FirstName: <input type="text" (input)="person.FName=$event.target.value" />
<br/> 
LastName: <input type="text" (input)="person.LName=$event.target.value"/>
<br/><br/>

<button (click)=RaisePersonEvent()>Alert Person Details</button>