<h1>Upper Case Validator</h1><br/>
<!-- <pre>Take input with first character uppercase</pre> -->
<form [formGroup]="myform" novalidate>
  <div class="form-group">
    <label>Enter Name</label>
    <input type="text" class="form-control" formControlName="myname" upper />
    <div class="form-control-feedback" *ngIf="myform.controls['myname'].errors &&
    (myform.controls['myname'].dirty || myform.controls['myname'].touched)">
      <p *ngIf="myform.controls['myname'].errors.required">Name is required</p>
      <p *ngIf="myform.controls['myname'].errors.upper">Name should start with an uppercase</p>
    </div>
  </div>
  <pre>{{myform.value | json}}</pre>
</form>