<div style="color: red;">{{message}}</div>
<form [formGroup]="personForm" novalidate (ngSubmit)="onSubmit(personForm.value)">
  <div class="form-group"  
    [ngClass]="{'has-error': personForm.controls['firstName'].invalid && (personForm.controls['firstName'].dirty || personForm.controls['firstName'].touched),'has-success': personForm.controls['firstName'].valid && (personForm.controls['firstName'].dirty || personForm.controls['firstName'].touched)}">
    <label>First Name</label>
    <input type="text" class="form-control" name="firstName" formControlName="firstName" required />
    <div class="form-control-feedback alert alert-danger" *ngIf="personForm.controls['firstName'].errors && (personForm.controls['firstName'].dirty || personForm.controls['firstName'].touched)">
        <p *ngIf="personForm.controls['firstName'].errors.required">First Name is required</p>
        <p *ngIf="personForm.controls['firstName'].errors.pattern">First Name cannot contain special character</p>
    </div>
    <ul>
      <li *ngFor="let change of changes">{{change}}</li>
    </ul>
  </div>
  <div class="form-group" 
  [ngClass]="{'has-error': personForm.controls['lastName'].invalid && (personForm.controls['lastName'].dirty || personForm.controls['lastName'].touched),'has-success': personForm.controls['lastName'].valid && (personForm.controls['lastName'].dirty || personForm.controls['lastName'].touched)}">
    <label>Last Name</label>
    <input type="text" class="form-control" name="lastName" formControlName="lastName" required />
    <div class="form-control-feedback alert alert-danger" *ngIf="personForm.controls['lastName'].errors && (personForm.controls['lastName'].dirty || personForm.controls['lastName'].touched)">
        <p *ngIf="personForm.controls['lastName'].errors.required">Last Name is required</p>
        <p *ngIf="personForm.controls['lastName'].errors.pattern">Last Name cannot contain special character</p>
    </div>
  </div>

  <div class="form-group">
    <label>Gender</label>
    <input type="radio" name="gender" formControlName="gender" value="male" />Male
    <input type="radio" name="gender" formControlName="gender" value="female" />Female
  </div>

  <div class="form-group">
      <label>Custom Validator</label>
      <input type="text" class="form-control" name="myname" formControlName="myname" upper/>
      <div class="form-control-feedback alert alert-danger" *ngIf="personForm.controls['myname'].errors && (personForm.controls['myname'].dirty || personForm.controls['myname'].touched)">
        <p *ngIf="personForm.controls['myname'].required">My Name is required</p>
        <p *ngIf="personForm.controls['myname'].required">My Name Should start with uppercase</p>
      </div>
  </div>

  <div class="form-group">
    <label>Qualification</label>
    <!-- <input type="text" class="form-control" name="qualification" formControlName="qualification" required /> -->
    <select class="form-control" formControlName="qualification">
      <option *ngFor="let degree of degrees" [value]="degree">{{degree}}</option>

    </select>
  </div>
  <input type="submit" class="btn btn-primary" value="submit" [disabled]="personForm.invalid"/>
  <hr />
  <pre>Form Value : {{personForm.value | json}}</pre>
  <pre>Form Status: {{personForm.status | json}}</pre>
  <hr/>
  <pre>FirstName value: {{personForm.get('firstName').value}} </pre>
  <pre>FirstName status: {{personForm.get('firstName').status}} </pre>

</form>