<!-- <span showalert>This alert for showalert directve.</span>
<br>
<hr> -->

<div class="card card-block"
     [ccCardHover]="{querySelector:'.card-text'}">
  <h4 class="card-title">{{data.setup}}</h4>
  <p class="card-text"
     [style.display]="'none'">{{data.punchline}}</p>
</div>