.redBorder{
    border: solid 2px red
 }

 .yellowBackground{
    background-color:yellow;
 }

 .saveable{
     font-style: italic;
 }

 .modified{
     font-weight: bold;
 }

 .special{
     font-size: 28px;
 }

 