<div *ngIf="false">
<form name="form1">
  <!-- Two Ways Binding Manually-->
  
  First Name: <input name ="first1" type="text" #firstName [value]="person.firstName" (input)="person.firstName=firstName.value"/><br>
  Last Name: <input  name ="last1" type="text"  #lastName   [value]="person.lastName" (input)="person.lastName=lastName.value"/><br>
 <br>
 <p><b>After Manually</b></p>
 Hello {{person.firstName}} {{person.lastName}}
</form>
<br><br>
<hr/>
<form name="form2">
 <!-- Two Ways Binding By ngModel-->

 First Name: <input name ="first2" type="text" [(ngModel)]="person.firstName" (ngModelChange)="modelChaged($event)"/><br>
 Last Name: <input name = "last2" type="text"  [ngModel]="person.lastName" (ngModelChange)="person.lastName = changeToUpper($event)"/><br>
<br>

  <p><b>After ngModel</b></p>
  Hello {{person.firstName}} {{person.lastName}}
</form>

<hr/>
<!-- @Input Demo-->
<form name="form3">
    
   
    First Name: <input name ="firstName" type="text" [ngModel]="firstName" (ngModelChange)="changeFirstName($event)"/><br>
    Last Name: <input name = "lastName" type="text"  [ngModel]="lastName" (ngModelChange)="changeLastName($event)"><br>
   <br>
   
     <p><b>After ngModel</b></p>
     Hello {{firstName}} {{lastName}}
</form>
</div>

<div *ngIf="true">
    <form>
        First Name: <input name="firstName" type="text" [(ngModel)]="person.firstName" /><br>
        Last Name: <input name="lastName" type="text" [ngModel]="person.lastName" (ngModelChange)="person.lastName=changeToUppercase($event)"/><br>
    </form>
    Hello {{person.firstName + " " + person.lastName}}
    <hr>
    <form>
        First Name: <input name="firstName" type="text" [ngModel]="firstName" (ngModelChange)="changeFirstName($event)" /><br>
        Last Name: <input name="lastName" type="text" [ngModel]="lastName" (ngModelChange)="changeLastName($event)"/><br>
    </form>
    Hello {{firstName + " " + lastName}}
</div>
<br/>