<!-- <app-custom-validator></app-custom-validator> -->
<app-reactive-form></app-reactive-form>
<div *ngIf="false">
  <joke-list></joke-list>
  <app-pipes-demo></app-pipes-demo>
  <app-pipe-example></app-pipe-example>
  <app-reactive-form></app-reactive-form>
  <app-templete-driven-form></app-templete-driven-form>
  <b>Dynamic Component Example</b>
  <hr>
  <ng-container *ngComponentOutlet="alert"></ng-container>
  <button (click)="changeComponent()">Change Alert</button>
  <app-life-cycle-hooks-demo></app-life-cycle-hooks-demo>
  <app-css-style-demo></app-css-style-demo>
  <app-destructure-array></app-destructure-array>
  <h2>Id = {{emp?.id}}</h2>
  <p>Name: {{emp?.name}}, Salary={{emp?.salary}}</p>

  <app-data-binding-demo></app-data-binding-demo><br /><br /><br />

  <app-sizer [(size)]="fontSize"></app-sizer>
  <div [style.font-size.px]="fontSize"><b>Some Sample Text</b></div>

  <app-student name="Udayaditya Singh" (evtName)="evtNameHandler($event)" (evtPerson)="evtPersonalHandler($event)">
  </app-student>

  <h1>Cureent Time : {{myTime}}</h1>
  <h2>All Employee</h2>

  <table>
    <tr>
      <th>Selected</th>
      <th>Id</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Type</th>
    </tr>

    <tr *ngFor="let emp of employee">
      <td><span *ngIf="emp === selectedEmployee">----></span></td>
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.salary}}</td>
      <td>
        <span [ngSwitch]="emp.type">
          <span *ngSwitchCase="0">Daily</span>
          <span *ngSwitchCase="1">Permanent</span>
          <span *ngSwitchCase="2">Contract</span>
          <span *ngSwitchCase="3">Retired</span>
          <span *ngSwitchDefault>Other</span>
        </span>
      </td>
    </tr>
  </table>
</div>